/* Global CSS*/
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.ec_tiny-text {
    font-size: 10px;
}

.ec_med-text {
    font-size: 14px;
}

.ec_lg-text {
    font-size: 20px;
}

.ec_text-grey {
    color: grey;
}

/* Sign In Page */
.ec_sign-in-body {}

.ec_auth-body {
    height: 100vh;
    background-image: url("/images/mic.jpg");
    background-image: linear-gradient(90deg, #f58731 0%, #f58731 35%, rgba(255, 255, 255) 0%);
    background-size: 100%;
    position: relative;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.ec_signin-form {
    height: 60vh;
    background-image: inherit;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-bottom: 0%;
}

.ec_signup-form {
    height: 70vh;
    background-image: inherit;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-bottom: 0%;
}

.ec_sign-in-btn {
    background-color: #f58731;
    color: white;
    /* border: 1px solid #ffffff; */
    /* box-shadow: 0 10px 15px rgba(0,0,0,0.2); */
    margin-left: 20%;
    border-radius: 20px;
}

.ec_form input {
    border-radius: 20px;
}

.ec_brand-color {
    color: #f58731;
}

.ec_form a {
    color: #f58731;
}

.ec_text-brand {
    color: #f58731;
}

.ec_forgot-password {}

.ec_other-sign-in img {
    cursor: pointer;
}

.ec_confirm_password {
    margin-bottom: 0px;
}