* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.container-fluid {
    height: 100vh;
    background-image: linear-gradient(90deg, orange 0%, orange 35%, rgba(255, 255, 255) 0%);
    background-size: 100%;
    position: relative;
}

.form--bg {
    height: 60vh;
    background-image: inherit;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/* .form {
    float: right;
} */